 .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#BA2C2C;
    color: white;
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

.brand{
    font-weight: bolder;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin-right: 200px;
}

.search-bar{
    margin-right: 150px;
    width: 50%;

}

.search-bar input{
    margin-left: -36px;
    width: 600px;
}

input::placeholder{
    font-weight: bold;
    color:#000;
}

.cart{
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    width: 15%;
    text-decoration: none;
    color: white;
    margin-right:7px;
    
}

.nav-bar-wrapper{
    
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color:#3e0606eb;
}

body {
    padding-top: 50px; 
  }

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    width: 350px;
    height: 350px;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.options{
    margin-left: 72px;
}
.option{
    margin-left: 10px;
}

.container-cart{
    width: 100%;
    margin-left: 530px;
    margin-top: 20px;
}

.Empty-msg{
    margin-right: 364px;
    margin-left: 65px;
    margin-top: 300px;
    width: 500px;
}

.Cart-div{
    margin-right: 267px;
}

.delete-btn{
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 0.5px;
}

@media only screen and (max-width: 600px) {
    
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    
  }
  
  @media only screen and (min-width: 1025px) {
    
  } 

  .login-btn{
    font-size: 12px;
    width: 15%;
    margin-left: 10px;
    padding: 7px;
    justify-self: end;
    font-weight: bold;
    
  }

  .user-data{
    display: flex;
    font-size: 10px;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .user-data img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;

  }

  .logout-btn{
    font-size: 7px;
    width:5%;
    margin-left: 10px;
    padding: 7px;
    justify-self: end;
    font-weight: bold;
  }

  .mx-5 {
    margin-right: 18rem !important;
    margin-left: 3rem !important;
}